body { font-family: Arial; margin: 0; background: #f4f6f8; color: #222; }
header { background: #0f2a4a; color: white; text-align: center; padding: 50px 20px; }
header h1 { margin: 0; color: #e0b84f; }
.about { padding: 40px; text-align: center; background: white; margin: 20px; border-radius: 10px; }
.about button { background: #0f2a4a; color: white; padding: 12px 20px; border: none; border-radius: 5px; margin-top: 15px; }
.services { padding: 20px; }
.cards { display: flex; gap: 15px; justify-content: center; flex-wrap: wrap; }
.card { background: white; padding: 30px; border-radius: 10px; width: 200px; text-align: center; font-weight: bold; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
footer { background: #0f2a4a; color: white; text-align: center; padding: 15px; margin-top: 30px; }
.whatsapp-btn {
    display: inline-block;
    background: #25D366 ;
    color: WHITE;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 15px;
}
.whatsapp-btn:hover { background: #128C7E; }